*{
  box-sizing: border-box;
}
body {
  background-color: #FB6B6B ;
}
.container {
  display: flex;
  flex-direction: column;
}  
h1 {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.012em;
  color: #FFFFFF;
}
h2 {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #D70900;
}
h3 {
font-family: 'Recursive';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #333333;
}
h4 {
  font-family: 'Recursive';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #333333;
}
.logo{
  margin: auto;
  margin-top: 148px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo img{
  width: 136px;
  height: 161px;
  margin: auto;
  margin-bottom: 13px;
}
.logo h1{
  margin: auto;
  margin-bottom: 30px;
}
button{
  margin-left: 35%;
  width: 30%;
  height: 54px;
  background: #FFFFFF;
  border: 1px solid #D70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.mini-logo{
  margin: auto;
  margin-top: 44px;
  display: flex;
}
.mini-logo h1{
  width: 204px;
  display: flex;
  justify-content: center;
}
.mini-logo img{
  width: 52px;
  height: 60px;
}
ul{
  margin: auto;
  margin-top: 51px;
  margin-bottom: 70px;
}
li{
  margin-bottom: 25px;
  height: 65px;
  background: #FFFFFF;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flipped{
width: 300px;
height: 131px;
background: #FFFFD5;
box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
border-radius: 5px;
transition: all 300ms;
}
.front {
  width: 300px;
}
li h3{
  margin-left: 15px;
}
li img{
  margin-right: 15px;
  width: 20px;
  height: 23px;
}
.menu{
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}